<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.dao.ClassMapper">

    <select id="getAllClasses" resultType="com.rtc.bean.ClassBean">
        SELECT * FROM class
    </select>

    <select id="getClassesByTeacherId" resultType="com.rtc.bean.ClassBean">
        SELECT * FROM class WHERE teacher_id = #{teacherId}
    </select>

    <select id="getClassByClassId" resultType="com.rtc.bean.ClassBean">
        SELECT * FROM class WHERE id = #{classId}
    </select>

    <select id="getStuListByClassId" resultType="com.rtc.bean.UserBean">
        SELECT tb2.id,tb2.name,tb2.grade FROM class_student tb1 JOIN user tb2 ON tb1.user_id = tb2.id WHERE class_id = #{classId}
    </select>

    <insert id="createClass" useGeneratedKeys="true" keyProperty="classId">
        INSERT INTO class (teacher_id,course_name,course_hours,class_size) VALUES (#{teacherId},#{courseName},#{courseHours},#{classSize})
    </insert>

    <insert id="stuJoinClass">
        INSERT INTO class_student (class_id,user_id) VALUES (#{param1},#{param2})
    </insert>


</mapper>