<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.dao.QuestionMapper">

    <select id="getAllSelectQuestions" resultType="com.rtc.bean.SelectQuesBean">
        SELECT * FROM question WHERE type="single"
    </select>

    <select id="getAllCompletionQuestions" resultType="com.rtc.bean.CompletionBean">
        SELECT * FROM question WHERE type="completion"
    </select>

    <select id="getAllMulitChoiceQues" resultType="com.rtc.bean.MulitChoiceQuesBean">
        SELECT * FROM question WHERE type="multiple"
    </select>

    <select id="getAllSimpleAnswerQues" resultType="com.rtc.bean.SimpleAnswerQuesBean">
        SELECT * FROM question WHERE type="simple answer"
    </select>

    <select id="getAllTrueOrFalseQues" resultType="com.rtc.bean.TrueOrFalseQuesBean">
        SELECT * FROM question WHERE type="true or false"
    </select>

    <select id="getSelectQuesById" resultType="com.rtc.bean.SelectQuesBean">
        SELECT * FROM selectques WHERE id = #{quesId}
    </select>

    <select id="getCompletionById" resultType="com.rtc.bean.CompletionBean">
        SELECT * FROM question WHERE id = #{quesId}
    </select>

    <select id="getMulitChoiceQuesById" resultType="com.rtc.bean.MulitChoiceQuesBean">
        SELECT * FROM quesion WHERE id = #{quesId}
    </select>

    <select id="getSimpleAnswerQuesById" resultType="com.rtc.bean.SimpleAnswerQuesBean">
        SELECT * FROM question WHERE id = #{quesId}
    </select>

    <select id="getTrueOrFalseQuesById" resultType="com.rtc.bean.TrueOrFalseQuesBean">
        SELECT * FROM question WHERE id = #{quesId}
    </select>

</mapper>