<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.dao.SetMapper">

    <insert id="createQuesSet" useGeneratedKeys="true" keyProperty="quesSetId">
        INSERT INTO ques_set (quesNum,teacherId,flag,mark) VALUES (#{quesNum},#{teacherId},#{flag},#{mark})
    </insert>

    <insert id="insertQuesIntoSet">
        INSERT INTO set_ques (quesSetId,quesId,quesType) VALUES (${quesSetId},${questionBean.quesId},${questionBean.quesType})
    </insert>

    <select id="getQuesByQuesSetId" resultType="com.rtc.bean.BaseQuestionBean">
        SELECT * FROM set_ques WHERE quesSetId = #{quesSetId}
    </select>

    <select id="getQuesSetById" resultType="com.rtc.bean.QuesSetBean">
        SELECT * FROM ques_set WHERE quesSetId = #{quesSetId}
    </select>

    <resultMap id="SetAndQues" type="com.rtc.bean.QuesSetBean">
        <id column="quesSetId" property="quesSetId"/>
        <result column="quesNum" property="quesNum"/>
        <result column="teacherId" property="teacherId"/>
        <result column="flag" property="flag"/>
        <result column="mark" property="mark"/>
        <collection property="quesList" ofType="com.rtc.bean.BaseQuestionBean"
                    select="com.rtc.dao.SetMapper.getQuesByQuesSetId" column="quesSetId">
        </collection>
    </resultMap>
    <select id="getSetAndQuesById" resultMap="SetAndQues">
        SELECT * FROM ques_set WHERE quesSetId = #{quesSetId}
    </select>

    <insert id="assignSetToClass">
        INSERT INTO set_class (quesSetId,classId,date) VALUES (#{quesSetId},#{classId},#{date})
    </insert>
    <resultMap id="SetIds" type="Integer">
        <id column="quesSetId"/>
    </resultMap>
    <select id="getSetIdsByClassId" resultMap="SetIds">
        SELECT * FROM set_class WHERE classId = #{classId}
    </select>

    <resultMap id="setList" type="com.rtc.bean.QuesSetBean">
        <result column="quesSetId" property="quesSetId"/>
        <result column="date" property="date"/>
        <result column="quesNum" property="quesNum"/>
        <result column="teacherId" property="teacherId"/>
        <result column="flag" property="flag"/>
        <result column="mark" property="mark"/>
    </resultMap>
    <select id="getSetListByClassId" resultMap="setList">
        SELECT tb1.classId,tb1.quesSetId,tb1.date,tb2.quesNum,tb2.teacherId,tb2.flag,tb2.mark
         FROM set_class tb1 JOIN ques_set tb2 ON tb1.quesSetId = tb2.quesSetId WHERE tb1.classId = #{classId}
    </select>

</mapper>