<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.dao.SetMapper">

    <insert id="createQuesSet" useGeneratedKeys="true" keyProperty="quesSetId">
        INSERT INTO ques_set (quesNum,teacherId,flag,mark) VALUES (#{quesNum},#{teacherId},#{flag},#{mark})
    </insert>

    <insert id="insertQuesIntoSet">
        INSERT INTO set_ques (quesSetId,quesId,quesType) VALUES (${quesSetId},${questionBean.quesId},${questionBean.quesType})
    </insert>

    <select id="getQuesByQuesSetId" resultType="com.rtc.bean.BaseQuestionBean">
        SELECT * FROM set_ques WHERE quesSetId = #{quesSetId}
    </select>
    <resultMap id="SetAndQues" type="com.rtc.bean.QuesSetBean">
        <id column="quesSetId" property="quesSetId"/>
        <result column="quesNum" property="quesNum"/>
        <result column="teacherId" property="teacherId"/>
        <result column="flag" property="flag"/>
        <result column="mark" property="mark"/>
        <collection property="quesSet" ofType="com.rtc.bean.BaseQuestionBean"
                    select="com.rtc.dao.SetMapper.getQuesByQuesSetId" column="quesSetId">
        </collection>
    </resultMap>
    <!--<select id="getQuesSetById" resultMap="SetAndQues">-->
    <!--SELECT a.quesSetId,a.quesNum,a.teacherId,a.flag,a.mark,b.quesId,b.quesSetId -->
    <!--FROM ques_set a JOIN set_ques b ON a.quesSetId = b.quesSetId -->
    <!--WHERE a.quesSetId = #{quesSetId}-->
    <select id="getQuesSetById" resultMap="SetAndQues">
        SELECT * FROM ques_set WHERE quesSetId = #{quesSetId}
    </select>

    <insert id="assignSetToClass">
        INSERT INTO set_class (quesSetId,classId,date) VALUES (#{quesSetId},#{classId},#{date})
    </insert>
    <resultMap id="SetIds" type="Integer">
        <id column="quesSetId"/>
    </resultMap>
    <select id="getSetIdsByClassId" resultMap="SetIds">
        SELECT * FROM set_class WHERE classId = #{classId}
    </select>

</mapper>