<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.dao.UserMapper">

    <select id="getAllUsers" resultType="com.rtc.bean.UserBean">
        SELECT * FROM user
    </select>

    <insert id="stuRegister" useGeneratedKeys="true" keyProperty="stuId">
        INSERT INTO user (userName,password,name,grade,gender) VALUES (#{userName},#{password},#{name},#{grade},#{gender})
    </insert>

    <insert id="teacherRegister" useGeneratedKeys="true" keyProperty="teacherId">
        INSERT INTO teacher (name,gender,phoneNum,password,school) VALUES (#{name},#{genser},#{phoneNum},#{password},#{school})
    </insert>

    <select id="login" resultType="com.rtc.bean.UserBean">
        SELECT * FROM user WHERE userName=#{param1}
    </select>
</mapper>